
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lista de Clientes</title>
	<link href="~/Estilos/Estilo.css" rel="stylesheet" />
</head>
<body>
    <div> 
		<table>
			<tr class="Titulo">
				<td>Demo 09: Ordenacion desconectada con Matrices </td>
			</tr>
			<tr class="Subtitulo">
				<td>Consulta de Productos</td>
			</tr>
			<tr>
				<td><span id="spnMensaje"></span></td>
			</tr>
			<tr>
				<td>
					<div id="divProducto"></div>
				</td>
			</tr>
		</table>
    </div>
	<script src="~/Script/Consulta.js"></script>
</body>
</html>
