
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lista de Clientes</title>
	<link href="~/Estilos/Estilo.css" rel="stylesheet" />
	
</head>
<body>
    <div> 
		<table>
			<tr class="Titulo">
				<td>Demo 04: Pagina MVC asioncrona con XHR y Cadenas</td>
			</tr>
			<tr class="Subtitulo">
				<td>Lista de Clientes</td>
			</tr>
			<tr>
				<td>
					<div id="divCliente"></div>
				</td>
			</tr>
		</table>
    </div>
	<script src="~/Script/Lista.js"></script>
</body>
</html>
